
/* body {
    background: #eaeaea;
    min-width: 90vh;
    overflow: hidden;
} */
/* .circle-object {
    width: 20px;
    height: 20px;
    background-color: #ff9d55;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    cursor: pointer;
    position: absolute;
    top: 30%;
    left: 20px;
    transform: translate(-50%, -50%);
    display: flex;
    justify-self: center;
    align-items: center;
}
.icon-item{
    margin: auto;
} */
.user-bubble{
    position: fixed;
    top: 10px;
    right: 10px;
}
.circle-object {
    width: 30px;
    height: 30px;
    background-color: #ff9d55;
    padding: 3px;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    cursor: pointer;
    /* position: fixed;
    bottom: 10%;
    left: 20px; */
    /* transform: translate(-50%, -50%); */
}
.user-name{
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
    display: block;
    text-transform: capitalize;
    background-color: white;
    padding: 4px;
    border-radius: 2px;
    font-weight: bold;
}
.user-name > button{
    border: none;
    cursor: pointer;

}
.sigin-btn{
    border: none;
    cursor: pointer;
    margin: 20px;
    padding: 20px;
    font-weight: bold;
    background: #ff9d55;
    box-shadow: 0 7px 3px 4px rgba(0,0,0,0.12);
    letter-spacing: 2px;
    font-size: 16px;
    color: white;
    border-radius: 20px;
}